<!-- <div class="rodape">
        <div class="row">
            <div class="col-sm-4">
                <img scr="LOGO DOGUES" alt="LOGO">
            </div>
            <div class="col-sm-4">
                <h3>Horários</h3>
                <p>Segunda a Sexta: 7h às 19h
                    Sábado: 8h às 17h
                    Domingos: 8h às 14h
                </p>

                <h3>Contato</h3>
                <p>
                    (11) 99999-9999
                    @clubedogues
                </p>
            </div>
            <div class="col-sm-4">
                <h3>Endereço</h3>
                <p>Av. Antônio Joaquim de Moura Andrade, 380 - Vila Nova Conceição- SP</p>
                <p>CEP: 05435-020</p>
            </div>
        </div>
    </div>
</div> -->

 <footer class="container-fluid">
    <div class="container">
      <div class="row">
        <!-- Coluna 1: Logo + redes sociais -->
        <div class="col-md-4 footer-logo-container mb-4 mb-md-0">
          <img src="../../public/img/SVG/SVG/Logo-Tipo-Branco.svg" alt="logo doguês" style="width: 200px;">
        </div>

        <!-- Coluna 2: Horários -->
        <div class="col-md-4 footer-section mb-4 mb-md-0">
          <h6>Horários</h6>
          <p>Segunda a Sexta: 7h às 19h</p>
          <p>Sábados: 8h às 17h</p>
          <p>Domingos: 8h às 14h</p>
          <br>
          <h6>Contato</h6>
          <p>(11) 9999-9999</p>
          <p><strong>@clubedogues</strong></p>
        </div>

        <!-- Coluna 3: Endereço -->
        <div class="col-md-4 footer-section">
          <h6>Endereço</h6>
          <p>Av. Antônio Joaquim de Moura Andrade, 380</p>
          <p>Vila Nova Conceição - SP</p>
          <p><strong>CEP:</strong> 05435-020</p>
        </div>
      </div>
    </div>
  </footer>
