@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --verde1: #033228;
    --verde2: #11603E;
    --verde3:  #527B5D;
    --verde4: #B2D6BA; 
    --verde5: #BFEFC9;
    --marrom1: #42210B;
    --marrom2: #8F7751;
    --bege1: #DED1AA;
    --bege2: #EFE8D8;
    --bege3: #FFFDF8;
    --preto1: #282828;
    --cinza1: #4D4D4D;

	--title-font: Garamond, serif;
	--default-font: Roboto, sans-serif;
}


img {
	max-width: 100%;
}

html, body {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
	font-family: var(--default-font);
	font-weight: normal;
    background-color: var(--bege3);
}

.limitador {
	max-width: 1500px;
	margin: 0px auto;

	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.518);
}

nav{
	background-color: var(--verde2);
    color: white;
}

.navbar-nav .nav-link, .navbar-nav .nav-link.show .nav-item.dropdown .navbar-toggler {
    color: white;
}

.navbar-toggler {
    color: #fff;
    border-color: #fff;
}

.nav-img{
	margin: 0px 0px 0px 20px;
}

.conteudo {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	flex: 1 1 auto;
}

.rodape {
	text-align: center;
	background-color: red;
	padding: 2rem;
}

.link-rodape, .link-rodape:hover {
	color: white;
	text-decoration: none;
}

.secao1 {
    background-image: url('../img/pexels-chevanon-1108099.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    padding: 150px 20px;
    color: white;
}

.secao1 p {
    font-size: larger;
    padding: 10px;
    font-weight: bold;
}

.capa {
    max-width: 400px;
    text-align: center;
    margin: auto;
}

.link1 {
    display: inline-block;
    background-color: var(--verde5);
    font-size: 10px;
    font-weight: bold;
    color: black;
    padding: 10px 20px;
    border-radius: 99999px;
    text-decoration: none;
}

.link1:hover{
    background-color: var(--verde3);
    color: white;
}

h1 {
    font-family: var(--title-font);
    font-size: 60px;
    font-weight: bolder;
    padding: 40px 0px;
    color: var(--preto1);
}

.secao2{
    background-color: var(--bege2);
    padding: 20px;
}

.subsecao-2-texto {
    padding: 20px 45px 20px 100px;
    text-align: justify;
    color: var(--cinza1);
}


.subsecao-2-img {
    padding: 20px 90px 20px 45px;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;    /* Centraliza verticalmente */
}

.secao3{
    background-color: var(--verde3);
    padding: 50px 80px;
}

.nossos-servicos {
    text-align: center;
    color: var(--bege3);
}

.subsecao-3-card {
    padding: 0px 30px 30px 30px;
}

.card{
    border-radius: 15px;
}

.card-img-top{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: var(--title-font);
}

.card-text {
    text-align: center;
    padding: 5px;
}

.secao4{
    background-color: var(--verde1);
    padding: 50px 80px;
}

.secao4 h1 {
    color: var(--verde5);
    padding: 0px;
    text-align: center;
    padding-top: 30px;
}

.titulo4 {
    color: var(--verde5);
    text-align: center;
    max-width: 70%;
    margin: 0px auto;
    padding: 20px 0px 60px 0px;
} 

.sede{
    background-color: var(--bege3);
    border-radius: 15px;
}

.sede img{
    border-top-right-radius: 15px;
}

.ratio-16x9 {
    --bs-aspect-ratio: 300px;
}

.mapa{
    height: 300px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.subsecao-sede-4-texto h2{
    font-family: var(--title-font);
    font-weight: bolder;
    font-size: 40px;
    color: var(--preto1);
    padding: 10px 0px 10px 20px;
    text-align: left;
}

.subsecao-sede-4-texto {
    padding: 40px;
    text-align: justify;
    color: var(--cinza1);
}

.subsecao-sede-4-texto li{
    padding: 10px;
}

.malzoni{
    background-color: var(--bege3);
    border-radius: 15px;
    margin: 30px 0px 30px 0px;
}

.malzoni img{
    border-top-left-radius: 15px;
    text-align: center;
    max-width: 70%;
    
}

.subsecao-malzoni-4-texto h2{
    font-family: var(--title-font);
    font-weight: bolder;
    font-size: 40px;
    color: var(--preto1);
    padding: 10px 0px 10px 0px;
    text-align: left;
}

.subsecao-malzoni-4-texto {
    padding: 40px;
    text-align: justify;
    color: var(--cinza1);
}

.subsecao-malzoni-4-texto p{
    padding: 5px;
}

.img-pet-stop {
    height: 300px;
    background-image: url(../img/pexels-chevanon-1108099.jpg);
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    max-width: 100%;
}

.secao5{
    background-color: var(--verde3);
    padding: 30px;
    text-align: center;
    position: relative;
}

.secao > iframe{
    width: 100%;
    aspect-ratio: 16 /9;
}

.secao6{
    background-color: var(--bege2);
}

.secao6 h1 {
    color: var(--verde1);
    text-align: center;
}


.secao1-dc {
    background-image: url('../img/pexels-chevanon-1108099.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 20px;
    color: white;
    text-align: center;
}

.secao1-dc h1{
    max-width: 600px;
    margin: 0px auto;
    padding: 20px;
    color: white;
}

.secao1-dc p{
    max-width: 600px;
    margin: 0px auto;
}

.secao2-dc{
    background-color: var(--verde3);
    padding: 20px 150px 30px 150px;
    text-align: justify;
    color: var(--bege3);
}

.secao2-dc h1{
    color:white;
}

.subsecao-2-dc {
    background-color: var(--verde1);
    border-radius: 15px;
    border-color: var(--verde5);
    padding: 20px;
    padding-bottom: 10px;
}

.subsecao-2-dc p{
    padding: 0px 20px 0px 20px;
    text-align: justify;
}

.secao3-dc {
    background-color: var(--bege2);
}
.carousel-control-next, .carousel-control-prev {
    position:relative;
}

.secao4-dc {
    background-color: var(--verde1);
}

.secao4-dc h1 {
    color: var(--bege3);
    text-align: center;
    padding: 50px;
}

.secao5-dc {
    background-color: var(--bege2);
}

.secao5-dc h1{
    text-align: left;
    font-size: 50px;
    padding-left: 15px;
}

.subsecao-5-texto-dc {
    padding: 40px 85px 40px 120px;
    text-align: justify;
    color: var(--cinza1);
}

.subsecao-5-texto-dc li{
    padding-bottom: 15px;
}

.secao6-dc {
    background-color: var(--verde3);
}

.secao6-dc h1{
    text-align: left;
    color: var(--bege3);
    font-size: 50px;
    padding-left: 15px;
}

.subsecao-6-texto-dc {
    padding: 40px 85px 40px 60px;
    text-align: justify;
    color: var(--bege3);
}

.subsecao-6-texto-dc li{
    padding-bottom: 15px;
}

.secao1-ht {
    background-image: url('../img/pexels-chevanon-1108099.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 20px;
    color: white;
    text-align: center;
}

.secao1-ht h1{
    max-width: 600px;
    margin: 0px auto;
    padding: 20px;
    color: white;
}

.secao1-ht p{
    max-width: 600px;
    margin: 0px auto;
}

.secao3-dc {
    background-color: var(--verde3);
}

.secao3-ht h1{
    text-align: left;
    color: var(--bege3);
    font-size: 50px;
    padding-left: 15px;
}

.subsecao-3-texto-ht {
    padding: 40px 85px 40px 60px;
    text-align: justify;
    color: var(--bege3);
}

.subsecao-3-texto-ht li{
    padding-bottom: 15px;
}

.secao4-ht {
    background-color: var(--bege2);
}

.secao4-ht h1{
    text-align: left;
    font-size: 50px;
    padding-left: 15px;
}

.subsecao-4-texto-ht {
    padding: 40px 85px 40px 120px;
    text-align: justify;
    color: var(--cinza1);
}

.subsecao-4-texto-ht p{
    padding-bottom: 15px;
}
