<div class="secao1-ad">
    <a class="days">
        <img src="../public/img/SVG/SVG/Monograma-Cru.svg" alt="Logo" width="50px">
    </a>
    <h1>Adestramento</h1>
    <p>Aprender a falar Doguês através do treinamento e conexão com seu pet!</p>
</div>
<div class="secao2-ad">
    <div class="desc2-ad">
    <p>Adestramento é uma das especialidades do Clube Doguês. Foi o primeiro serviço que oferecemos quando abrimos as portas lá em 2017 e através de um trabalho  e personalizado, auxiliamos você a estabelecer uma comunicação clara e eficiente com seu pet, com o objetivo de fortalecer a relação entre vocês, trazendo o equilíbrio e harmonia que merecem.
    </p>
    <p>Existem vários métodos de treinamento, e por isso adequamos a técnica de acordo com as necessidades, o contexto e o progresso de cada caso, sempre respeitando o tempo deles. Sabemos que o processo de aprendizado exige dedicação, repetição e condicionamento, portanto, cabe a nós educarmos nossos amigos de quatro patas para que eles entendam o que é esperado deles e que se tornem de fato membros ativos da família</p>
    </div>
</div>
    <div class="secao3-ad">
        <div class="row">
            <div class="col-md-5" style="
                background-image: url(/public/img/pexels-chevanon-1108099.jpg);
                background-size: cover;
                background-position: center;
                min-height: 400px;">               
            </div>
            <div class="col-md-7 subsecao-3-texto-ad">
                <h1>Entrevista</h1>
                <p>O processo começa na entrevista comportamental.
                    Um de nossos adestradores vai até a sua casa para
                    entender as necessidades do cão e da família e
                    monta um plano de treinamento específico</p>
            </div>

        </div>
    </div>
    <div class="secao4-ad">
        <div class="row">
            <div class="col-sm-7 subsecao-4-texto-ad">
                <h1>Duração</h1>
                <p>Não há uma duração padrão, variando conforme
                    cada cenário. Ao longo das aulas, o adestrador irá
                    sinalizar ao tutor sobre o processo de adestramento
                    e o que esperar da evolução de seu pet.</p>
                <p>Obs. O serviço de Adestramento não está incluso no Day Care</p>
            </div>
            <div class="col-md-5" style="
                background-image: url(/public/img/pexels-chevanon-1108099.jpg);
                background-size: cover;
                background-position: center;
                min-height: 400px;">               
            </div>
        </div>
    </div>
</div>