<div class="secao1-bt">
    <a class="days">
        <img src="../public/img/SVG/SVG/Monograma-Cru.svg" alt="Logo" width="50px">
    </a>
    <h1>Banho & Tosa</h1>
    <p>Aprender a falar Doguês através do treinamento e conexão com seu pet!</p>
</div>
<div class="secao2-bt">
    <div class="desc2-bt">
        <p>Como o Doguês é a segunda casa para a turminha, o bem-estar é garantido. Temos serviço de banho e tosa para nossos alunos como também para quem é de fora, utilizamos os melhores produtos para a higiene e estética com uma equipe especializada e carinhosa.</p>
    </div>
</div>
<div class="secao3-bt">\
    <p>Nossa sala de banho e tosa é climatizada e super higienizada.</p>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-sm-6"><img src="..." class="d-block w-100" alt="..."></div>
                    <div class="col-sm-6"><img src="..." class="d-block w-100" alt="..."></div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-sm-6"><img src="..." class="d-block w-100" alt="..."></div>
                    <div class="col-sm-6"><img src="..." class="d-block w-100" alt="..."></div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-sm-6"><img src="..." class="d-block w-100" alt="..."></div>
                    <div class="col-sm-6"><img src="..." class="d-block w-100" alt="..."></div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <a class="link1" href="https://google.com">
        AGENDE UM HORÁRIO
    </a>
</div>
<div class="secao4-bt">
    <div class="row">
        <div class="col-md-5" style="
            background-image: url(/public/img/pexels-chevanon-1108099.jpg);
            background-size: cover;
            background-position: center;
            min-height: 400px;">               
        </div>
        <div class="col-sm-7 subsecao-4-texto-bt">
            <h1>Serviços</h1>
            <ul>
                <li>Banho</li>
                <li>Tosa - Completa e Higiênica</li>
                <li>Remoção de Subpelo</li>
                <li>Trimming</li>
                <li>Corte de unha e limpeza dentária inclusos.</li>
            </ul>
        </div>
    </div>
</div>