<div class="secao1">
        <a class="clin">
            <img scr="LOGO AQUI" alt="DESCRIÇÃO DA IMAGEM">
        </a>
        <h1>Clínica Geral</h1>
        <p>
            Cuidados completos para a saúde do seu pet.</p>
        <a class="imagemrodape">
            <img scr="IMAGEM" alt=" ">
        </a>
    </div>
    <div class="secao2">
        <div class="row">
            <div class="col-sm-6">
                <p>Oferecemos acompanhamento constante para garantir que todos os aspectos básicos da saúde do seu pet
                    estejam em dia, como:</p>
            </div>
            <div class="col-sm-6">
                <h1>Serviços</h1>
                <ul>
                    <li>Consulta</li>
                    <li>Vacinação</li>
                    <li>Limpeza de tártaro</li>
                    <li>Castração</li>
                    <li>Coleta de Exames</li>
                </ul>
                <p>Os procedimentos curúrgicos não são feitos no Clube</p>
            </div>
        </div>
    </div>
    <div class="secao3">
        <img scr="IMAGEM" alt="DESCRIÇÃO">
        <a class="imagemrodape">
            <img scr="IMAGEM" alt=" ">
        </a>
    </div>
    <div class="secao4">
        <a class="fisio">
            <img scr="LOGO AQUI" alt="DESCRIÇÃO DA IMAGEM">
        </a>
        <h1>Fisioteriapia</h1>
        <p>
            Bem-estar e reabilitação com carinho e cuidado.</p>
        <a class="imagemrodape">
            <img scr="IMAGEM" alt=" ">
        </a>
    </div>
    <div class="secao5">
        <div class="row">
            <div class="col-sm-8">
                <p>Usamos diversas técnicas de fortalecimento, alongamento e
                    alívio da dor, melhorando o condicionamento físico do seu
                    pet através de programas específicos, criados com o objetivo
                    de contribuir ao máximo em seu conforto e reabilitação, e
                    tratando diversas doenças físicas, emocionais, e autoimunes
                    com suas propriedades analgésicas e anti-inflamatórias.</p>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>