<div class="secao1-cl">
    <a class="days">
        <img src="../public/img/SVG/SVG/Monograma-Cru.svg" alt="Logo" width="50px">
    </a>    
    <h1>Clínica Geral</h1>
    <p>Cuidados completos para a saúde do seu pet.</p>
</div>

<div class="secao2-cl">
    <div class="row">
        <div class="col-sm-6 desc2-cl">
            <p>Oferecemos acompanhamento constante para garantir que todos os aspectos básicos da saúde do seu pet estejam em dia, como:</p>
        </div>
        <div class="col-sm-6 subsecao-2-texto-cl">
            <h1>Serviços</h1>
            <ul>
                <li>Consulta</li>
                <li>Vacinação</li>
                <li>Limpeza de tártaro</li>
                <li>Castração</li>
                <li>Coleta de Exames</li>
            </ul>
            <p><i>Os procedimentos curúrgicos não são feitos no Clube</i></p>
        </div>
    </div>
</div>

<div class="secao3-cl">
</div>

<div class="secao1-cl">
    <a class="days">
        <img src="../public/img/SVG/SVG/Monograma-Cru.svg" alt="Logo" width="50px">
    </a>
    <h1>Fisioterapia</h1>
    <p>Bem-estar e reabilitação com carinho e cuidado.</p>
</div>

<div class="secao4-cl">
    <div class="row">
        <div class="col-sm-8 desc4-cl">
            <p>Usamos diversas técnicas de fortalecimento, alongamento e alívio da dor, melhorando o condicionamento físico do seu pet através de programas específicos, criados com o objetivo de contribuir ao máximo em seu conforto e reabilitação, e tratando diversas doenças físicas, emocionais, e autoimunes com suas propriedades analgésicas e anti-inflamatórias.</p>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
