<div class="secao1-dc">
    <a class="days">
        <img src="../public/img/SVG/SVG/Monograma-Cru.svg" alt="Logo" width="50px">
    </a>
    <h1>Day Care</h1>
    <p>No Clube Doguês, seu cão desfruta de um dia repleto de atividades sob a supervisão constante da nossa equipe!</p>
</div>

<div class="secao2-dc">
  <h1>Pré-Avaliação</h1>
  <div class="subsecao-2-dc">
      <p>Para que o pet possa frequentar o Day Care , o dono deve trazer seu cão para que possamos pré-avaliar o seu comportamento e, com isso, determinar se ele estaria apto a fazer parte da  nossa matilha. </p>
      <p><i>A avaliação consiste na interação com outros cães do Clube por aproximadamente 40 minutos</i></p>
  </div>
</div>

<div class="secao3-dc">
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="row">
        <div class="col-sm-6 text-center">
          <a href="https://www.instagram.com/p/DO5qqbEjqcm/" target="_blank">
            <img src="placeholder.png" class="carousel-img" alt="Post Instagram 1">
          </a>
        </div>
        <div class="col-sm-6 text-center">
          <a href="https://www.instagram.com/p/DOyXoCfjWzO/" target="_blank">
            <img src="placeholder.png" class="carousel-img" alt="Post Instagram 2">
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row">
        <div class="col-sm-6 text-center">
          <a href="https://www.instagram.com/p/DOdZOhDDuDr/" target="_blank">
            <img src="placeholder.png" class="carousel-img" alt="Post Instagram 3">
          </a>
        </div>
        <div class="col-sm-6 text-center">
          <a href="https://www.instagram.com/p/DOo9wPZjx5i/" target="_blank">
            <img src="placeholder.png" class="carousel-img" alt="Post Instagram 4">
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row">
        <div class="col-sm-6 text-center">
          <a href="https://www.instagram.com/p/DOYSOVLDtyi/" target="_blank">
            <img src="placeholder.png" class="carousel-img" alt="Post Instagram 5">
          </a>
        </div>
        <div class="col-sm-6 text-center">
          <a href="https://www.instagram.com/p/DORGQLdDVBM/" target="_blank">
            <img src="placeholder.png" class="carousel-img" alt="Post Instagram 6">
          </a>
        </div>
      </div>
    </div>

  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="secao4-dc">
    <h1> Cronograma Diário</h1>
    <img scr="CRONOGRAMA" alt="CRONOGRAMA">
    <!--Lembrando que essa imagem tem que ser alterada a depender da tela, 
    telas pequenas receberão uma versão vertical, telas grandes receberão uma versão horizontal-->
</div>

<div class="secao5-dc">
  <div class="row">
      <div class="col-md-7 subsecao-5-texto-dc">
          <h1>Protocolo de Entrada:</h1>
          <ul>
              <li>Carteira de vacinação: Raiva, polivalente V8 ou V10 e Tosse Canina (assinada por médico veterinário); </li>
              <li>Exame parasitológico e Teste Snap Giardia (exames de fezes);</li>
              <li>Controle de antipulgas (preventivo): Aplicamos o produto indicado conforme a orientação de seu médico veterinário.</li>
          </ul>
      </div>
      <div class="col-md-5">
          <img src="../public/img/pexels-chevanon-1108099.jpg" alt="#">
      </div>
  </div>
</div>

<div class="secao6-dc">
    <div class="row">
        <div class="col-sm-5">
            <img src="../public/img/pexels-chevanon-1108099.jpg" alt="#">
        </div>
        <div class="col-sm-7 subsecao-6-texto-dc">
            <h1>Condições para frequentar o Clube:</h1>
            <ul>
                <li>
                    Fêmeas não podem estar no cio;</li>
                <li>
                    Machos acima de 8 meses devem ser castrados;</li>
                <li>
                    Cães com histórico de comportamentos agressivos com pessoas e outros cães não poderão ser inseridos ao grupo de Day Care. Porém, temos profissionais especializados em comportamento que poderão redirecionar o animal para um treinamento adequado.</li>
            </ul>
        </div>

    </div>
</div>