<div class="secao1-ht">
    <a class="days">
        <img src="../public/img/SVG/SVG/Monograma-Cru.svg" alt="Logo" width="50px">
    </a>
    <h1>Hotel</h1>
    <p>O lar para seu melhor amigo longe de casa, com todo o carinho e a segurança que ele merece</p>
</div>

<div class="container text-center secao2-ht">
    <h1>Rotina & Recreação</h1>
    <p class="descricao2-ht">
      A rotina dos hóspedes segue um cronograma diário, com atividades para 
      desenvolvimento e estímulo de convivência com outros cães.
    </p>

    <div class="row justify-content-center g-4">
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="card p-4 h-100 card2-ht">
          <div class="icon">🐾</div>
          <h5 class="card-title card-title2-ht">Manhã</h5>
          <p class="card-text card-text2-ht">
            Brincadeiras de bolinha, piscina – quando está um clima propício para isso – e circuitos.
          </p>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-3">
        <div class="card p-4 h-100 card2-ht">
          <div class="icon">🐶</div>
          <h5 class="card-title card-title2-ht">Início da tarde</h5>
          <p class="card-text card-text2-ht">
            Almoço e descanso com música ambiente.
          </p>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-3">
        <div class="card p-4 h-100 card2-ht">
          <div class="icon">🌿</div>
          <h5 class="card-title card-title2-ht">Tarde</h5>
          <p class="card-text card-text2-ht">
            Brincadeiras de enriquecimento ambiental.
          </p>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-3">
        <div class="card p-4 h-100 card2-ht">
          <div class="icon">🌙</div>
          <h5 class="card-title card-title2-ht">Noite</h5>
          <p class="card-text card-text2-ht">
            Jantar e hora de dormir.
          </p>
        </div>
      </div>
    </div>
</div>

<div class="secao3-ht">
    <div class="row">
        <div class="col-md-5" style="
            background-image: url(/public/img/pexels-chevanon-1108099.jpg);
            background-size: cover;
            background-position: center;
            min-height: 400px;">               
        </div>
        <div class="col-sm-7 subsecao-3-texto-ht">
            <h1>Acomodações</h1>
            <p>As áreas internas da hospedagem contam com ar condicionado e aquecimento, garantindo conforto em qualquer estação. Já os espaços externos são aproveitados durante o dia, ideais para atividades ao ar livre sob o sol.
            </p>
            <p>Cada cão dorme em sua caminha. Se o dono não puder levar a do próprio pet, temos unidades disponíveis em nossa sede</p>
        </div>

    </div>
</div>
<div class="secao4-ht">
    <div class="row">
        <div class="col-md-7 subsecao-4-texto-ht">
            <h1>Alimentação</h1>
            <p>Pedimos para que cada dono nos informe e traga os
                medicamentos caso faça o uso de algum e os
                alimentos que o cão consome diariamente. Nossos
                monitores se responsabilizam pelo armazenamento
                e preparo de cada um</p>
        </div>
        <div class="col-md-5" style="
            background-image: url(/public/img/pexels-chevanon-1108099.jpg);
            background-size: cover;
            background-position: center;
            min-height: 400px;">               
        </div>

    </div>
</div>
<div class="secao5-ht">
    <div class="row">
        <div class="col-md-5" style="
            background-image: url(/public/img/pexels-chevanon-1108099.jpg);
            background-size: cover;
            background-position: center;
            min-height: 400px;">               
        </div>
        <div class="col-sm-7 subsecao-5-texto-ht">
            <h1>Objetos Pessoais</h1>
            <p>Temos um local reservado para deixar os pertences de cada cão, separados por caixas de organização
            </p>
        </div>
    </div>
</div>
<div class="secao6-ht">
    <div class="subsecao-6-ht">
        <h1>Exigências para Hospedagem</h1>
        <p><b>O cão precisa ser nosso cliente</b></p>
        <p>Caso o dono queira hospedar um pet que nunca tenha ido ao Clube Doguês,
            deve marcar uma avaliação comportamental com o máximo de tempo possível,
            para avaliarmos se o cão se acostuma à matilha e aos nossos profissionais (o
            tempo pode variar dependendo do comportamento de cada cão).</p>
        </div>
    </div>
</div>