<div class="secao1">
        <a class="hotel">
            <img scr="LOGO AQUI" alt="DESCRIÇÃO DA IMAGEM">
        </a>
        <h1>Hotel</h1>
        <p>
            O lar para seu melhor amigo longe de casa, com todo o carinho e a segurança que ele merece</p>
        <a class="imagemrodape">
            <img scr="IMAGEM" alt=" ">
        </a>
    </div>
    <div class="secao2">
        <h1> Rotina & Recreação </h1>
        <p>A rotina dos hóspeeds segue um cronograma diário, com atividades para desenvolvimento e estímulo de
            convivência com outros cães.</p>
        <div class="row">
            <div class="col-sm-3">
                <img src="LOGO" alt="logo">
                <h2>Manhã</h2>
                <p>Brincadeiras de bolinha, piscina - quando está um clima propício para isso - e circuitos</p>
            </div>
            <div class="col-sm-3">
                <img src="LOGO" alt="logo">
                <h2>Iníco da Tarde</h2>
                <p>Almoço e descanso com música ambiente</p>
            </div>
            <div class="col-sm-3">
                <img src="LOGO" alt="logo">
                <h2>Tarde</h2>
                <p>Brincadeiras de enriquecimento ambiental</p>
            </div>
            <div class="col-sm-3">
                <img src="LOGO" alt="logo">
                <h2>Noite</h2>
                <p>Jantar e hora de dormir</p>
            </div>
        </div>
    </div>
    <div class="secao3">
        <div class="row">
            <div class="col-sm-5">
                <img scr="FOTO" alt="ALT DA FOTO">
            </div>
            <div class="col-sm-7">
                <h1>Acomodações</h1>
                <p>As áreas internas da hospedagem contam com
                    ar condicionado e aquecimento, garantindo
                    conforto em qualquer estação. Já os espaços
                    externos são aproveitados durante o dia, ideais
                    para atividades ao ar livre sob o sol.

                </p>
                <p>Cada cão dorme em sua caminha. Se o dono não
                    puder levar a do próprio pet, temos unidades
                    disponíveis em nossa sede</p>
            </div>

        </div>
    </div>
    <div class="secao4">
        <div class="row">

            <div class="col-sm-7">
                <h1>Alimentação</h1>
                <p>Pedimos para que cada dono nos informe e traga os
                    medicamentos caso faça o uso de algum e os
                    alimentos que o cão consome diariamente. Nossos
                    monitores se responsabilizam pelo armazenamento
                    e preparo de cada um</p>
            </div>
            <div class="col-sm-5">
                <img scr="FOTO" alt="ALT DA FOTO">
            </div>

        </div>
    </div>
    <div class="secao5">
        <div class="row">
            <div class="col-sm-5">
                <img scr="FOTO" alt="ALT DA FOTO">
            </div>
            <div class="col-sm-7">
                <h1>Objetos Pessoais</h1>
                <p>Temos um local reservado para deixar os pertences de cada cão, separados por caixas de organização
                </p>
            </div>
        </div>
    </div>
    <div class="secao5">
        <h1>Exigências para Hospedagem</h1>
        <p>O cão precisa ser nosso cliente</p>
        <p>Caso o dono queira hospedar um pet que nunca tenha ido ao Clube Doguês,
            deve marcar uma avaliação comportamental com o máximo de tempo possível,
            para avaliarmos se o cão se acostuma à matilha e aos nossos profissionais (o
            tempo pode variar dependendo do comportamento de cada cão).</p>
    </div>
</div>