<div class="secao1">
        <a class="taxi">
            <img scr="LOGO AQUI" alt="DESCRIÇÃO DA IMAGEM">
        </a>
        <h1>Táxi Dog</h1>
        <p>
            O transporte do seu pet até a nossa sede!</p>
        <a class="imagemrodape">
            <img scr="IMAGEM" alt=" ">
        </a>
    </div>
    <div class="secao2">
        <div class="row">

            <div class="col-sm-7">
                <img scr="DOGINHOS" alt="DOGUINHOS VETORIZADOS">
                <p>O Táxi Dog do Clube Doguês consiste em uma van
                    própria adaptada para o deslocamento dos pets.
                    Cada cão tem sua própria caixa de transporte e usa
                    uma airtag para monitoramento durante todo o
                    trajeto</p>
            </div>
            <div class="col-sm-5">
                <img scr="FOTO" alt="ALT DA FOTO">
            </div>

        </div>
    </div>
    <div class="secao3">
        <div class="row">
            <div class="col-sm-5">
                <img scr="FOTO" alt="ALT DA FOTO">
            </div>
            <div class="col-sm-7">
                <h1>Horários</h1>
                <ul>
                    <li>Segunda, Quarta, Quinta e Sexta</li>
                    <li>Ida: 7h às 10h</li>
                    <li>Volta: 14h às 19h</li>
                </ul>
            </div>
        </div>
    </div>
</div>