<div class="secao1-td">
    <a class="days">
        <img src="../public/img/SVG/SVG/Monograma-Cru.svg" alt="Logo" width="50px">
    </a>
    <h1>Táxi Dog</h1>
    <p>O transporte do seu pet até a nossa sede!</p>
</div>
    <div class="secao2-td">
        <div class="row">
            <div class="col-sm-7 subsecao-2-texto-td">
                <img scr="DOGINHOS" alt="DOGUINHOS VETORIZADOS">
                <p>O Táxi Dog do Clube Doguês consiste em uma van
                    própria adaptada para o deslocamento dos pets.
                    Cada cão tem sua própria caixa de transporte e usa
                    uma airtag para monitoramento durante todo o
                    trajeto</p>
                </div>

        </div>
    </div>
    <div class="secao3-td">
        <div class="row">
            <div class="col-md-5" style="
            background-image: url(/public/img/pexels-chevanon-1108099.jpg);
            background-size: cover;
            background-position: center;
            min-height: 400px;">               
            </div>
            <div class="col-sm-7 subsecao-3-texto-td">
                <h1>Horários</h1>
                <ul>
                    <li>Segunda, Quarta, Quinta e Sexta</li>
                    <li>Ida: 7h às 10h</li>
                    <li>Volta: 14h às 19h</li>
                </ul>
            </div>
        </div>
    </div>
</div>